@import "vendor/basscss";
@import "vendor/align";
@import "vendor/background-colors";
@import "vendor/background-images";
@import "vendor/colors";
@import "vendor/responsive-margin";
@import "vendor/responsive-padding";
@import "vendor/utility-headings";
@import "vendor/btn";
@import "vendor/btn-outline";
@import "vendor/btn-primary";
@import "vendor/btn-sizes";

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.hero {
    background-image: url(../img/winter-scenebg.jpg);
    height: 100vh;
}

